<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email giả</title>
</head>
<body>
<h1>Hệ thống email giả</h1>
<input id="email" type="text" placeholder="Email"><br>
<input type="password" value="12345678" placeholder="Mật khẩu" readonly><br>
<button onclick="login()">Đăng nhập</button>
<script>
function login() {
    var email = document.getElementById('email').value;
    window.location.href = '/external/fake-email/mail?email='+email;
}
</script>
</body>
</html>