<%- include('../layout/top') %>
<div class="login-form">
	<input type="text" id="emailInput" placeholder="Email">*<br>
	<input type="password" id="passwordInput" placeholder="Mật khẩu">*<br>
	<button type="button" onclick="login()">Đăng nhập</button>
</div>
<script>
$(document).on('keypress',function(e) {
    if(e.which == 13) {
        login();
    }
});
function login () {
	var data = {};
	data.email = $('#emailInput').val();
	data.password = $('#passwordInput').val();
	$.ajax({
		url: '/user/authenticate',
		type: 'POST',
		contentType: 'application/json',
		data: JSON.stringify(data),
		success: function(res){
			if (res.message === undefined) {
				window.location.href = '/';
			} else {
				alert(res.message);
			}
		}
	});
}
</script>
<%- include('../layout/bottom') %>