<%- include('../layout/top') %>
<div class="signup-form">
	<input type="text" id="lastName" placeholder="Họ">*<br>
	<input type="text" id="middleName" placeholder="Tên đệm"><br>
	<input type="text" id="firstName" placeholder="Tên">*<br>
	<input type="text" id="emailInput" placeholder="Email">*<br>
	<input type="password" id="passwordInput" placeholder="Mật khẩu">*<br>
	<input type="password" id="retypePasswordInput" placeholder="Nhập lại mật khẩu">*<br>
	<button type="button" onclick="register()">Đăng ký</button>
</div>
<script>
$(document).on('keypress',function(e) {
    if(e.which == 13) {
        register();
    }
});
function register() {
	var data = {};
	data.name = {
		first: $('#firstName').val(),
		middle: $('#middleName').val(),
		last: $('#lastName').val()
	};
	data.email = $('#emailInput').val();
	data.password = $('#passwordInput').val();
	data.retypePassword = $('#retypePasswordInput').val();
	$.ajax({
		url: '/customer/register',
		type: 'POST',
		contentType: 'application/json',
		data: JSON.stringify(data),
		success: function(res){
			if (res.message === undefined) {
				window.location.href = '/';
			} else {
				alert(res.message);
			}
		}
	});
}
</script>
<%- include('../layout/bottom') %>