        </div>
        <div style="clear: both;"></div>
        <div id="footer">
            <span id="copyright">Copyright © <%= new Date().getFullYear() %> colamthimoicoan</span>
        </div>
    </div>
</body>
</html>
