<%- include('../layout/top') %>
<div class="input-form">
	<h1>Đăng ký tài khoản</h1>
	<input type="text" id="Name" placeholder="Họ và tên *">
	<input type="text" id="emailInput" placeholder="Email *">
	<input type="text" id="usernameInput" placeholder="Tài khoản *">
	<input type="password" id="passwordInput" placeholder="Mật khẩu *">
	<input type="password" id="retypePasswordInput" placeholder="Nhập lại mật khẩu *">
	<button type="button" onclick="register()">Đăng ký</button>
</div>
<script>
$(document).on('keypress',function(e) {
    if(e.which == 13) {
        register();
    }
});
function register() {
	var data = {};
	data.userName = $('#Name').val();
	data.email = $('#emailInput').val();
	data.loginName = $('#usernameInput').val();
	data.password = $('#passwordInput').val();
	data.retypePassword = $('#retypePasswordInput').val();
	socket.emit('clientSendRegister', data);
}
</script>
<%- include('../layout/bottom') %>